body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#imageContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}
