body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 400px; /* Adjust based on desired size */
    height: 400px;
}

#imageContainer img {
    width: 50%; /* Each image takes up half the container's width */
    height: 50%; /* Each image takes up half the container's height */
    object-fit: cover;
}
