body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
}

#imageContainer img {
    width: 100%;
    height: auto;
}
